
/* Definição de fonte */
*{
    font-family: 'Rationale', sans-serif;
    letter-spacing: 0.5px;
}
/* Definição das margens do corpo inteiro da página */
body{
    margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
        .contact{
            height: 100%;
            background-image: linear-gradient(to top,  hsl(271, 92%, 5%), hwb(272 2% 78%), #310f51f8);
            width: 100%;
            color: white;
            background-size: cover;
        }
}

/*  Definição do tamanho do container maior */
.container{
    height: 1500px;
    width: 100%;
    padding:0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*  Definição do tamanho da caixa do menu */

header{
    height: 50px;
    width: 100%;    
}

/* Definição do display, tamanho e cor da barra de menu */

.menubox{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #110420;
}

ul{
    display:flex;
    flex-direction: row;
}

ul li{
    height: 45px;
    color: white;
    margin: -30px 0 0 30px;
    font-size: 15px;
}
.aboutme1{
    height: 40px;
    background-color: rgb(18, 0, 34);
    border-radius: 70%;
    box-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.hobbies1{
    height: 40px;
    background-color: rgb(18, 0, 34);
    border-radius: 70%;
    box-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.contact1{
    height: 40px;
    background-color:rgb(18, 0, 34);
    border-radius: 70%;
    box-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/*  Estilos de link, visited  e  hover */

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
   color: white;
   text-decoration: none;
}
a:hover{
    color: rgb(253, 176, 251);
    text-shadow: #77185c 0.2em 0.2em 0.3em;
}

.menubox a{
    color: white;
    text-decoration: none;
}
/* Definição do container da primeira seção */
.aboutme{
    height: 800px;
    width: 100%;
    margin:0;
    background-image: linear-gradient(to bottom, hsl(271, 92%, 5%), hwb(272 2% 78%), #310f51f8);
   
}

/*  Definição dos estilos do conteúdo da primeira seção */
.aboutmecontent{
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;

}
.aboutme h1{

    font-size: 70px;
    text-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
}

img{
    border-radius: 50%;
    mix-blend-mode: luminosity;
}
.aboutme p{
    font-size: 25px;
}

/* Definição do container da segunda seção */
.hobbies{
    height: 350px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 0 0 0;
}

/* Definição do estilo dos conteúdos da segunda seção */
.hobbiescontent{
    color: #4c0a97;
    margin: 0;
    height: 100%;
    width: 100%;
}

.hobbiescontent h1{
    font-size: 60px;
    text-align: center;
    text-shadow: hsla(0, 0%, 0%, 0.37) 0.1em 0.1em 0.1em;

}
.hobbiescontent p{
    font-size: 30px;
    text-align: center;
    text-shadow: hsla(0, 0%, 0%, 0.37) 0.1em 0.1em 0.1em;
}

/* Definição do container da terceira seção */
.contact{
    height: 350px;
    background-image: linear-gradient(to top,  hsl(271, 92%, 5%), hwb(272 2% 78%), #310f51f8);
    margin: 0 0 0 0;
    width: 100%;
    text-align: center;
    color: white;
}

/* Definição do estilo dos conteúdos da terceira seção */
.contact h1{
    font-size: 50px;
    text-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
}

.contactsection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-shadow: hsla(271, 76%, 53%, 0.592) 0.1em 0.1em 0.2em;
    letter-spacing: 2px;

}
.namebox{
    margin: 20px;
}
input{
    border-radius: 15px;
    width: 300px;
    box-shadow:1px 1px 2px rgba(138, 44, 226, 0.959)
}
